@model List<BowlingAlley.Models.BookingSlots>

<div class="container">
    <h2>Free Slots</h2>
    <p>Type of User: <strong>Member</strong></p>
    

    <table class="table table-striped">
        <thead>
            <tr>
                <th>SlotId</th>
                <th>SlotStartTime</th>
                <th>SlotEndTime</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var slot in Model)
            {
                { 
                    if (slot.SlotEndTime > DateTime.Now.TimeOfDay)
                    {
                        <tr>
                            <td>@slot.SlotId</td>
                            <td>@slot.SlotStartTime.ToString()</td>
                            <td>@slot.SlotEndTime.ToString()</td>
                            <td>
                                <a href="@Url.Action("BookSlots", "Member", new { SlotId = slot.SlotId })" class="btn btn-link">Book Slot</a>
                            </td>
                        </tr>
                    } 
                }

            }
        </tbody>
    </table>
</div>
